:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root{
  width: 100%;
}

body{
  display: flex;
  height: 100vh;
  min-width: 100%;
  margin: 0;
  background-color: #2f2f2f;
}


.App{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.body-container{
  margin: 0;
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
